{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'articles/detail.css' %}">
<main>
    <header>
        <h1>ArtMatch</h1>
    </header>

    <div class="article_container">
        <article>
            <h1>
                {{ article.title }}
            </h1>

            {% if notice_message %}
                <p>
                    <strong>{{ notice_message }}</strong>
                </p>
            {% endif %}

            <p>
                {{article.body | safe}}
            </p>

        </article>

        <aside>
            <p>
                <a href={{article.url}}>元記事</a>
            </p>

            <form action="{% url 'articles:vote' article.id %}" method="post">
                {% csrf_token %}
                <input type="radio" name="preference" id="preference1" value="like">
                <label for="preference1">好き！</label>

                <input type="radio" name="preference" id="preference0" value="unlike">
                <label for="preference0">嫌い...</label><br>

                <input type="submit" value="好み登録">
            </form>
            
            <p>
                <a href="{% url 'articles:index' %}">記事一覧に戻る</a>
            </p>

            <h3>
                類似記事
            </h3>
            <div class="similar_articles_container">
                {% if similar_articles %}
                    {% for article in similar_articles %}
                        <div class="similar_article_item">
                            <a href="{% url 'articles:detail' article.id %}">
                                <div class="similar_container">
                                    <img class="article_image" src={{article.image}} alt={{article.image}}>
                                    <div class="article_title">
                                        {{ article.title }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>
                        類似記事はありません
                    </p>
                {% endif %}
            </div>
        </aside>
    </div>
</main>