{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'articles/index.css' %}">

<main>

<header>
    <h1>ArtMatch</h1>
</header>

<h2>おすすめ記事</h2>
{% if recommend_articles %}
<div class="articles_container">
    {% for article in recommend_articles %}
            <div class="articles_item">
                <a  href="{% url 'articles:detail' article.id %}">
                    <div class="item_container">
                        <img class="article_image" src={{article.image}} alt={{article.image}}>
                        <div class="article_title">
                            {{ article.title }}
                        </div>
                    </div>
                </a>
            </div>

    {% endfor %}
</div>

{% else %}
    <p>おすすめ記事はありません</p>
{% endif %}

</main>